:root{
    --soft-green: #396685;
    --cream-white: #e2d7b9;
    --cream-clear: #e2dccc;
    --white: #eee3e3;
    --gray: #333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    background: linear-gradient(to bottom, var(--soft-green), var(--gray));
    width: 100vw;
}

.container{
    width: 90vw;
    height: auto;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom, var(--cream-white), var(--cream-clear)) ;
}

.header{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--soft-green);
}

.header__image{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__image img{
    margin-top: 10px;
    width: 250px;
    border:  none;
}

.header__title{
    color: var(--soft-green);
    text-transform: uppercase;
    font-size: 0.8rem;
}

.categories{
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    gap: 10px;
    scrollbar-width: none;
    width: 100%;
    height: 60px;
    padding: 5px;
    margin-top: 10px;
}

.categories button{
    color: var(--soft-green);
    border: none;
    border-radius: 10px;
    height: 45px;
    padding: 10px;
    box-shadow: 2px 1px 2px var(--soft-green);
    font-size: 0.8rem;
    font-weight: bold;
    background-color: var(--white);
}

.cards{
    width: 100%;
    height: 310px;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 10px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card{
    width: 280px;
    height: 250px;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    color: var(--soft-green);
    box-shadow: 2px 1px 5px var(--soft-green);
}

.card__image{
    width: 100%;
}

.card__image img{
    width: 200px;
    height: 130px;
    border-radius: 10px 10px 0px 0px;
}

.card__title{
    font-size: 1.2rem;
}

.card__details{
    width: 100%;
    height: 30px;
    border: none;
    background-color: var(--soft-green);
    color: var(--white);
    border-radius: 5px;
}

/* footer{
    background-color: var(--soft-green);
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    color: var(--white);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
} */